$color__background-body: rgb(44, 44, 44);
$color__colorbackground-header: rgb(15, 179, 111);
$color__colorbackground-barre: #038C73;
$color__colorbackground-main: rgb(15, 179, 111);
$color__colorbackground-footer: #038C73;
$color__colorbackground-recherche: rgb(53, 53, 53);

$color__texte__recherche: rgb(202, 209, 212);
$color__texte__icones: rgb(68, 68, 68);
$color__texte__defaut: rgb(212, 212, 212);

$color__cours__bordure: rgb(244, 244, 255);
$color__cours__background: rgb(44, 44, 44);
$color__cours__background-pair: rgb(44, 44, 44);;
$color__cours__shadow: rgba(233, 233, 233, 0.6);

$color__carte__bordure: #73726e;

$color__link: rgb(34, 34, 34);
$color__link-visited: #038C73;
$color__link-hover: rgb(113, 113, 175);

$color__link__footer: rgb(44, 44, 44);
$color__link__footer-visited: rgb(206, 169, 115);
$color__link__footer-hover: rgb(218, 218, 218);

$color__background-link-hover: rgb(253, 253, 253);