$color__background-body: rgb(44, 44, 44);
$color__colorbackground-header: rgb(15, 179, 111);
$color__colorbackground-barre: #038C73;
$color__colorbackground-main: rgb(15, 179, 111);
$color__colorbackground-footer: #038C73;
$color__colorbackground-recherche: rgb(53, 53, 53);

$color__texte__recherche: rgb(202, 209, 212);
$color__texte__icones: rgb(68, 68, 68);
$color__texte__defaut: rgb(212, 212, 212);

$color__cours__bordure: rgb(244, 244, 255);
$color__cours__background: rgb(44, 44, 44);
$color__cours__background-pair: rgb(44, 44, 44);;
$color__cours__shadow: rgba(233, 233, 233, 0.6);

$color__carte__bordure: #70706d;

$color__link: rgb(206, 169, 115);
$color__link-visited: rgb(49, 49, 49);
$color__link-hover: rgb(113, 113, 175);

$color__link__footer: rgb(206, 169, 115);
$color__link__footer-visited: rgb(34, 34, 34);
$color__link__footer-hover: rgb(218, 218, 218);

$color__background-link-hover: rgb(253, 253, 253);

/* La suite du code ne fonctionne pas */

/***************************** Couleur menu footer  */
$color__link__footer__menu: rgb(253, 253, 253);
$color__link__footer__menu-visited: rgb(22, 156, 112);
$color__link__footer__menu-hover:rgb(185, 48, 48);
$background__link__footer__menu: rgb(160, 100, 100);
$background__link__footer__menu-visited: rgb(48, 26, 26);
$background__link__footer__menu-hover: rgb(219, 206, 206);

/***************************** Couleur menu principal  */
$color__link__menu__principal: rgb(219, 206, 206);
$color__link__menu__principal-visited: rgb(163, 63, 63);
$color__link__menu__principal-hover: rgb(49, 46, 46);
$background__link__menu__principal: rgb(168, 75, 75);
$background__link__menu__principal-visited: rgb(187, 106, 106);
$background__link__menu__principal-hover: rgb(46, 9, 9);