/* ---------------- BACKGROUND */
$color__background-body : rgb(219, 219, 219);
$color__background-body-clip : rgb(44, 44, 44); /**/
$color__background-main : rgb(8, 71, 45);
$color__background-cours : rgb(8, 71, 45);
$color__background-header : rgb(8, 71, 45);
$color__background-barre : rgb(233, 233, 233);
$color__background-footer : #0e4d41;
$color__background-link : rgb(44, 44, 44); /**/
$color__background-link-hover : rgb(49, 49, 49);

/* ---------------- LIENS */
$color__link : rgb(206, 169, 115);
$color__link-hover : rgb(18, 168, 93);
$color__link-visited : hsl(0, 0%, 0%);
/* ---------------- LIENS FOOTER */
$color__link__footer : rgb(206, 169, 115);
$color__link__footer-hover : rgb(18, 168, 93);
$color__link__footer-visited : hsl(0, 0%, 0%);
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : rgb(219, 219, 219);
$color__link__header-hover : rgb(17, 83, 50);
$color__link__header-visited : rgb(219, 219, 219);
/* ----------------------- couleur menu footer */
$color__link__footer__menu : #fff;
$color__link__footer__menu-visited : #ddd;
$color__link__footer__menu-hover: #f00;
$background__link__footer__menu : #444;
$background__link__footer__menu-visited : #555; 
$background__link__footer__menu-hover: #222;
/* ----------------------- couleur menu principal */
$color__link__menu__principal : rgb(27, 14, 148);
$color__link__menu__principal-visited : rgb(8, 104, 8); 
$color__link__menu__principal-hover : #00f;
$background__link__menu__principal : #ddd;
$background__link__menu__principal-visited: #ccc;
$background__link__menu__principal-hover : #ddd;



/* ---------------- FONT */
$color__font-header : rgb(44, 44, 44);
$color__font-main :rgb(44, 44, 44);
$color__font-barre : rgb(44, 44, 44);
$color__font-footer : rgb(202, 202, 202);